*{
    margin: 0;
    padding: 0;
}
body{
    margin:0;
    padding: 0;
    width:100%;
}
/* .wrap {
    position: relative;
    left:100px;
    bottom:30rem;    
  } */ 
  /* .upper, .lower {
    display:flex;
    width:2000px;
    justify-content: space-between;
  }
  .lower {
    left:110px;
    position: relative;
    top:0px;
  }
  
  .upper img, .lower img {
    width: 100px;
    height: 100px;
    opacity: 0;
    animation: fadeIn, fadeOut;
    animation-duration: 13s, 16s;
    animation-fill-mode:forwards;
    animation-iteration-count: infinite;
  }
  @keyframes fadeIn {
    10% {opacity: 1};
    100% {opacity: 1};
  }
  @keyframes fadeOut {
    25% {opacity: 0};
    100% {opacity: 0};
  }
  
  .upper img:first-child {
    animation-delay: 0.5s, 3.5s;
  }
  .lower img:first-child {
    animation-delay: 1s, 4s;  
  }
  .upper img:nth-child(2) {
    animation-delay: 1.5s, 4.5s;
  }
  .lower img:nth-child(2) {
    animation-delay: 2s, 5s;
  }
  .upper img:nth-child(3) {
    animation-delay: 2.5s, 5.5s;
  }
  .lower img:nth-child(3) {
    animation-delay: 3s, 6s;  
  }
  .upper img:nth-child(4) {
    animation-delay: 3.5s, 6.5s;
  }
  .lower img:nth-child(4) {
    animation-delay: 4s, 7s;
  } */
  /* .upper img:nth-child(5) {
    animation-delay: 4.5s, 7.5s;
  }
  .lower img:nth-child(5) {
    animation-delay: 5s, 8s;  
  }
  .upper img:nth-child(6) {
    animation-delay: 5.5s, 8.5s;
  }
  .lower img:nth-child(6) {
    animation-delay: 6s, 9s;
  } */
  /* .upper img:nth-child(7) {
    animation-delay: 6.5s, 9.5s;
  }
  .lower img:nth-child(7) {
    animation-delay: 7s, 10s;  
  }
  .upper img:nth-child(8) {
    animation-delay: 7.5s, 10.5s;
  }
  .lower img:nth-child(8) {
    animation-delay: 8s, 11s;
  } */
  
  /* .upper img:nth-child(9) {
    animation-delay: 9s, 11.5s;
  }
  .lower img:nth-child(9) {
    animation-delay: 9.5s, 12s;
  }
  .upper img:nth-child(10) {
    animation-delay: 10s, 12.5s;
  }
  .lower img:nth-child(10) {
    animation-delay: 10.5s, 13s;
  }
  .upper img:nth-child(11) {
    animation-delay: 11s, 13.5s;
  }
  .lower img:nth-child(11) {
    animation-delay: 11.5s, 14s;
  }
  .upper img:nth-child(12) {
    animation-delay: 12s, 14.5s;
  }
  .lower img:nth-child(12) {
    animation-delay: 12.5s, 15s;
  } */

.navigation {
border: 1px solid rgb(25, 0, 255);
display: flex;
font-weight:bold;
margin-top:30px;

}
.navigation button:hover{
    background-color: bisque;
    border-radius: 5px;
}

 button{
    background-color:white;
    border: white;
    cursor: pointer;
}

li{
color: rgb(110, 64, 11);
list-style: none;
font-family: "Arsenal", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size:20px;
  justify-content:space-between;
  padding-left:1rem;
}
a{
    padding:0.5rem;
}

li:hover{
    background-color: rgb(216, 194, 161);
    padding:0.4rem;
    border-radius: 5px;
}

   .foot{
    background-color: rgb(216, 194, 161);
    color:#793f10be;
    width:99%;
    padding:5px;
       }
       .github{
     
        width:30px;
        height:30px;
    }
    .linkedin{
        width:30px;
        height:30px;
      
     
    }
    h1{
        line-height: 1.5;
        font-family: "Cookie", cursive;
        font-weight:400;
        font-style: normal;
        font-size:3rem;
        color: #53340a;
        }
        
        p{
            font-family: "Arsenal", sans-serif;
            font-weight:1000px; 
             font-style:normal;
            line-height: 1.7;
            color: #85622f;
            font-size:1rem
        }

    #bg-img{
       display: none;
   }
   #bg-img1{
    left:30rem;
    height:24rem;
    transform:rotate(180deg);
    position: absolute;
   }

    #detective{
       justify-content: center;
       align-items:center;
       margin-top:1rem;
       width:170px;
       height:170px;
       display: block;
  margin-left: auto;
  margin-right: auto;
   }
   .infos h1{
    font-size:2rem;
   }

    .infos{
       color:rgb(48, 33, 1); 
        text-align:center; 
     justify-content: center;
     align-items: center;
     margin-top: 2rem;
    } 
 
   #detect{
    width:170px;
    height:170px;
    display: block;
    margin-left: auto;
    margin-right: auto;
   }
   
   .skillscontent{
    box-shadow: 0 4px 8px 0 #88818133;
    height:250px;
    width:200px;
    display: block;
  margin-left: auto;
  margin-right: auto;
    padding:20px;
    margin-top:2rem;
    margin-bottom: 2rem;
    font-family: "Arsenal", sans-serif;
    font-weight:1000px; 
     font-style:normal;
    line-height: 1.7;
    color: #85622f;
   }

   .skillscontent p{
    font-size:4rem;
    text-align:center;
   }
   .hat{
       width:150px;
       height:150px;
       justify-content: center;
       align-items: center;
       display: block;
       margin-left: auto;
       margin-right: auto;
   }
   .aboutme{
    border:solid 3px orangered;
    text-align: center;
          
   }

   .cards{
   margin-top: 1rem;
    padding-top: 2rem;
       background-color: rgb(216, 194, 161);
        border:5px solid #793f10be;
        width:92%;
        margin-left: 1rem;
        height:48rem;
       font-family: "Arsenal", sans-serif;
       font-weight:200;
       font-style: normal;
       font-size:13px;
   }
   #flower{
       width:80px;
       height:80px;
   }
   .flowersShop{
   box-shadow: 0 4px 8px 0 rgba(136, 129, 129, 0.2);
   transition:0.3s;
   text-align:center;
   padding:9px;
   border-radius:5px ;
   background-color: white;
   width:170px;
   height:170px; 
   display: block;
   margin-left: auto;
   margin-right: auto;      
   }
   #pin{
       padding-right:7px;
   }
   
   #note{
       position: absolute;
       right:-2rem;
      top:9rem;
       width:200px;
       height:200px;
   }
   #text{
       position:absolute;
      left:13rem;
       bottom:2rem;
        font-family: "Gochi Hand", cursive;
       font-weight:400;
       font-size:small;
       font-style: normal;    
   }
   #yo{
    width:90px;
    height:90px;
   }
   .Yu-Gi{
       box-shadow: 0 4px 8px 0 rgba(136, 129, 129, 0.2);
       transition: 0.3s;
        text-align:center;
       padding:7px;   
       background-color: white;
       border-radius:5px;
       width:170px;
       height:170px; 
        display: block;
  margin-left: auto;
  margin-right: auto;
       
      
      }
   
  
      #rab{
        width:90px;
        height: 90px;
    }
    .rabbit{
        box-shadow: 0 4px 8px 0 rgba(136, 129, 129, 0.2);
        transition: 0.3s;
        text-align:center;
        padding:5px;
        border-radius:5px ;
        background-color:white;
        width:170px;
        height:170px;
        display: block;
  margin-left: auto;
  margin-right: auto;

    }
    
    #pin{
        padding-right:7px;
    }
    
    #note3{
        width: 220px;;
        height:220px;
        top:10rem;
        left:12rem;
    }
    #text3{
    position:absolute;
    bottom:3rem;
    left:15rem;
    font-family: "Gochi Hand", cursive;
    font-weight: 400;
     font-size: 1.1rem;
    font-style: normal;
    }
    .shop{
     box-shadow: 0 4px 8px 0 rgba(136, 129, 129, 0.2);
     transition: 0.3s;
     text-align:center;
     padding:5px;
     border-radius:5px ;
     background-color:white;
      width:170px;
      height:170px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      
    }
    #shop{
     width:90px;
     height:90px;
    }
     #note4{
         position:absolute;
         top:11rem;
         left:10rem;
         width:220px;
         height:220px;
         
    }
    #text4{
    position:absolute;
    bottom:1rem;
    left: 12rem;
    font-family: "Gochi Hand", cursive;
    font-weight:400;
    font-size:1.2rem;
    font-style: normal;

    }
    
     #line1{
        display: none;
    }
    #line2{
        display: none;
    }

    #line3{
        display: none;
    }
    #line4{
        display: none;
    } 
    
  
  @media(min-width:500px) and (max-width:767px){
    #detective{
        justify-content: center;
        align-items:center;
        margin-top:1rem;
        width:170px;
        height:170px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .infos h1{
     font-size:2rem;
    }
 
     .infos{
        color:rgb(48, 33, 1); 
         text-align:center; 
      justify-content: center;
      align-items: center;
      margin-top: 2rem;
     } 
  
    #detect{
     width:170px;
     height:170px;
     display: block;
     margin-left: auto;
     margin-right: auto;
    }
    
    .skillscontent{
     box-shadow: 0 4px 8px 0 #88818133;
     height:250px;
     width:200px;
     margin-left:5rem;
     padding:20px;
     margin-top:2rem;
     display: block;
     margin-left: auto;
     margin-right: auto;
    }
 
    .skillscontent p{
     font-size:4rem;
     text-align:center;
    }
    .hat{
        width:200px;
        height:200px;
        justify-content: center;
        align-items: center;
        display: block;
  margin-left: auto;
  margin-right: auto;
    }
    .aboutme{
     border:solid 3px orangered;
     text-align: center;
           
    }
 
    .cards{
        background-color: rgb(216, 194, 161);
         border:5px solid #793f10be;
         width: 100%;
         margin-left: 1rem;
         height:30rem;
         display:grid;
         grid-template-columns: repeat(5, 1fr);
         grid-template-rows: repeat(5, 1fr);
         grid-column-gap: 0px;
         grid-row-gap: 0px;
        font-family: "Arsenal", sans-serif;
        font-weight:200;
        font-style: normal;
        font-size:13px;
    }
    #flower{
        width:80px;
        height:80px;
    }
    .flowersShop{
     position: relative;
    justify-items: center;
    align-items: center; 
    box-shadow: 0 4px 8px 0 rgba(136, 129, 129, 0.2);
    transition:0.3s;
    text-align:center;
    padding:9px;
    border-radius:5px ;
    background-color: white;
    grid-area: 1 / 2 / 2 / 3;
    width:150px;
    height:150px; 
    top:1rem; 
    left:14rem ;        
    }
    #pin{
        padding-right:7px;
    }
    
    #note{
        position: absolute;
        right:-2rem;
       top:9rem;
        width:200px;
        height:200px;
    }
    #text{
        position:absolute;
       left:13rem;
        bottom:2rem;
         font-family: "Gochi Hand", cursive;
        font-weight:400;
        font-size:small;
        font-style: normal;    
    }
    #yo{
     width:90px;
     height:90px;
    }
    .Yu-Gi{
        position:relative;
        justify-items: center;
        align-items: center;
        box-shadow: 0 4px 8px 0 rgba(136, 129, 129, 0.2);
        transition: 0.3s;
         text-align:center;
        padding:7px;   
        background-color: white;
        border-radius:5px;
        width:170px;
        height:170px; 
        left:-12rem;  
        bottom:-1rem;
        grid-area: 1 / 3 / 2 / 4; 
       }
    
   
       #rab{
         width:90px;
         height: 90px;
     }
     .rabbit{
         position:relative;
         justify-items: center;
         align-items: center;
         box-shadow: 0 4px 8px 0 rgba(136, 129, 129, 0.2);
         transition: 0.3s;
         text-align:center;
         padding:5px;
         border-radius:5px ;
         background-color:white;
         width:170px;
         height:170px;
          left:-1rem;
        bottom:-4rem;
        grid-area: 3 / 3 / 4 / 4;
     }
     
     #pin{
         padding-right:7px;
     }
     
     #note3{
         width: 220px;;
         height:220px;
         top:10rem;
         left:12rem;
     }
     #text3{
     position:absolute;
     bottom:3rem;
     left:15rem;
     font-family: "Gochi Hand", cursive;
     font-weight: 400;
      font-size: 1.1rem;
     font-style: normal;
     }
     .shop{
      position:relative;
      justify-items: center;
      align-items: center;
      box-shadow: 0 4px 8px 0 rgba(136, 129, 129, 0.2);
      transition: 0.3s;
      text-align:center;
      padding:5px;
      border-radius:5px ;
      background-color:white;
       width:170px;
       height:170px;
         top:-7rem;  
         left:15rem;
         grid-area: 2 / 4 / 3 / 5;
     }
     #shop{
      width:90px;
      height:90px;
     }
      #note4{
          position:absolute;
          top:11rem;
          left:10rem;
          width:220px;
          height:220px;
     }
     #text4{
     position:absolute;
     bottom:1rem;
     left: 12rem;
     font-family: "Gochi Hand", cursive;
     font-weight:400;
     font-size:1.2rem;
     font-style: normal;
     }
     
      #line1{
     position:absolute;
     height:18rem;
         left:6.5rem;
        top:-7rem; 
        transform: rotate(42deg);
         opacity:0.5;
         display: block;
        
     }
     #line2{
     position: absolute;
     height:18rem;
     left:14rem;
     bottom:-5rem;
         transform:rotate(-49deg);
         opacity:0.5;
         display: block;
     }
     #line3{
         position: absolute;
         height:20rem;
         left:5rem;
         bottom:-16rem;
         transform:rotate(42deg);
         opacity:0.5;
         display: block;
     }
     #line4{
         position: absolute;
         height:19rem;
         left:-2rem;
         top:-2rem;
         transform:rotate(-48deg);
         opacity:0.5;
         display: block;
     } 
     
  }

  @media (min-width:768px) and (max-width:1024px){
    
li{
    color: rgb(110, 64, 11);
    list-style: none;
    font-family: "Arsenal", sans-serif;
      font-weight: 500;
      font-style: normal;
      font-size:30px;
      justify-content:space-between;
      padding-left:5rem;
    }

    #bg-img1{
     display:none;
 
 }
     #bg-img{
         display:block;

         height:77rem;
     }
 
     .sec{
         display: flex;
        flex-wrap:nowrap; 
          justify-content: center;
          align-items: center;
     }
     #detective{
   
         width:250px;
         height:250px;
     }
     
     .infos h1{
      font-size:2rem;
     }

     P{
        font-size:1.3rem;
     }
     .aboutme{
         display:flex;
         justify-content: center;
         align-items: center;
         gap:10px;
     }
    
 #detect{
     width:250px;
     height:250px;
 }
 .skills{
     display:flex;
     justify-content: center;
     align-items: center;
 }
 
 .skillscontent{
  box-shadow: 0 4px 8px 0 #88818133;
  height:30px;
  width:30px;
  padding:1rem 14rem 16rem 5rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
  font-family: "Arsenal", sans-serif;
   font-style:normal;
  line-height: 1.7;
  color: #85622f;

 }
    .hat{
        width:200px;
        height:200px;
    }
    
    .cards{
        background-color: rgb(216, 194, 161);
         border:5px solid #793f10be;
         width:90%;
         height:40rem;
         margin-left: 2.5rem;
         display: grid;
         grid-template-columns: repeat(5, 1fr);
         grid-template-rows: repeat(5, 1fr);
         grid-column-gap: 0px;
         grid-row-gap: 0px;
        font-family: "Arsenal", sans-serif;
        font-weight:200;
        font-size:0.8rem;
        font-style: normal;
    }
    #flower{
        width:100px;
        height:100px;
    }
    .flowersShop{
    position:relative;
    justify-items: center;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(136, 129, 129, 0.2);
    transition:0.3s;
    text-align:center;
    padding:5px;
    border-radius:5px ;
    background-color: white;
    grid-area: 1 / 3 / 2 / 4;
    width:180px;
    height:180px;
    top:37px;  
    left:-1rem;        
    }
    #pin{
        padding-right:7px;
    }
    
    #note{
        position: absolute;
        right:-2rem;
       top:9rem;
        width:220px;
        height:220px;
    }
    #text{
    position:absolute;
    left:14rem;
    bottom:4rem;
    font-family: "Gochi Hand", cursive;
    font-weight:400;
    font-size:1.1rem;
    font-style: normal;    
    }
    #yo{
     width:100px;
     height:100px;
    }
    .Yu-Gi{
        position:relative;
        justify-items: center;
        align-items: center;
        box-shadow: 0 4px 8px 0 rgba(136, 129, 129, 0.2);
        transition: 0.3s;
         text-align:center;
        padding:7px;   
        background-color: white;
        border-radius:5px;
        width:180px;
        height:180px;
        left:-3rem;  
        bottom:-40px;
        grid-area: 2 / 2 / 3 / 3; 
       }
    
    #pin{
        padding-right:7px;
    }
    
    #note2{
        position:absolute;
        bottom:-2rem;
        left:10rem;
        width:220px;
        height:220px;
    }
    #text2{
        position: absolute;
         left:11rem;
        bottom:2rem;
        font-family: "Gochi Hand", cursive;
            font-weight:400;
            font-size:1rem;
            font-style: normal;   
    }
    #rab{
        width:100px;
        height: 100px;
    }
    .rabbit{
        position:relative;
        justify-items: center;
        align-items: center;
        box-shadow: 0 4px 8px 0 rgba(136, 129, 129, 0.2);
        transition: 0.3s;
        text-align:center;
        padding:5px;
        border-radius:5px ;
        background-color:white;
        width:180px;
        height:180px;
         left:13rem;
       bottom:-1rem;
       grid-area: 3 / 3 / 4 / 4;
    }
    
    #pin{
        padding-right:7px;
    }
    
    #note3{
        width: 220px;;
        height:220px;
        top:10rem;
        left:12rem;
    }
    #text3{
    position:absolute;
    bottom:3rem;
    left:15rem;
    font-family: "Gochi Hand", cursive;
    font-weight: 400;
     font-size: 1.1rem;
    font-style: normal;
    }
    .shop{
     position:relative;
     justify-items: center;
     align-items: center;
     box-shadow: 0 4px 8px 0 rgba(136, 129, 129, 0.2);
     transition: 0.3s;
     text-align:center;
     padding:5px;
     border-radius:5px ;
     background-color:white;
      width:180px;
      height:180px;
        top:-23rem;  
        left:27rem;
        grid-area: 2 / 4 / 3 / 5;
    }
    #shop{
     width:100px;
     height:100px;
    }
     #note4{
         position:absolute;
         top:11rem;
         left:10rem;
         width:220px;
         height:220px;
    }
    #text4{
    position:absolute;
    bottom:1rem;
    left: 12rem;
    font-family: "Gochi Hand", cursive;
    font-weight:400;
    font-size:1.2rem;
    font-style: normal;
    }
    
     #line1{
    position:absolute;
    height:22rem;
        left:17rem;
       top:-14rem; 
       transform: rotate(84deg);
        opacity:0.5;
        display: block;
       
    }
    #line2{
    position: absolute;
    height:22rem;
    left:14rem;
    bottom:-6rem;
        transform:rotate(-897deg);
        opacity:0.5;
        display: block;
    }
    #line3{
        position: absolute;
        height:23rem;
        left:2rem;
        bottom:-10rem;
        transform:rotate(83deg);
        opacity:0.5;
        display: block;
    }
    #line4{
        position: absolute;
        height:23rem;
        left:-1rem;
        top:-16rem;
        transform:rotate(-179deg);
        opacity:0.5;
        display: block;
    } 
    
    .foot{
        background-color: rgb(216, 194, 161);
        color:#793f10be;
        width:98%;
        padding:0.5rem;
           }
           .github{
            position: absolute;
            width:30px;
            height:30px;
            margin-left:40rem;
        }
        .linkedin{
          margin-left:40rem;
            width:30px;
            height:30px;
        }
        #footer{
            align-items: center;
        }
 }
 
 @media (min-width:1025px){
    li{
        color: rgb(110, 64, 11);
        list-style: none;
        font-family: "Arsenal", sans-serif;
          font-weight: 500;
          font-style: normal;
          font-size:30px;
          justify-content:space-between;
          padding-left:5rem;
        }

    #bg-img1{
        display:none;
    
    }
        #bg-img{
            display:block;
            width:50rem;
            height:70rem;
            position: cover;
        }
    .sec{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    #detective{
      justify-content: center;
        align-items: center;
        width:400px;
        height:400px;
    }
    
     .infos{
        
        color:rgb(48, 33, 1);
         font-size:2rem;  
         text-align:center;
         justify-content: center;
         align-items: center;
         margin-left:5rem;
     } 

     .aboutme{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
     }
 
     #detect{
        width:350px;
        height:350px;

    }
     .infos h1{
        font-size:4rem;
       }
       
       .About{
        text-align:center;  
        font-size:2rem;
        flex-wrap:nowrap;
       } 
   
     .skills{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;   
     }
     .hat{
        height: 300px;
        width:300px;
        display: block;
     margin-left:5rem;

     }
     .cards{
        justify-content: center;
        align-items:center;
        background-color: rgb(216, 194, 161);
         border:10px solid #793f10be;
         width:95%;
         margin-left:2rem;
         height:65rem;
         display:grid;
         grid-template-columns: repeat(5, 1fr);
         grid-template-rows: repeat(5, 1fr);
         grid-column-gap: 0px;
         grid-row-gap: 0px;
        font-family: "Arsenal", sans-serif;
        font-weight:400;
        font-style: normal;
        
    }
    #flower{
        width:200px;
        height:200px;
    }
    .flowersShop{
    position:relative;
    justify-items: center;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(136, 129, 129, 0.2);
    transition:0.3s;
    text-align:center;
    padding:5px;
    border-radius:5px ;
    background-color: white;
    grid-area: 1 / 3 / 2 / 4;
    width:300px;
    height:300px;
    top:1rem;  
    left:-4rem;        
    }
    #pin{
        padding-right:7px;
    }
    
    #note{
        position: absolute;
        right:-2rem;
       top:9rem;
        width:220px;
        height:220px;
        
    }
    #text{
        position:absolute;
       left:14rem;
        bottom:4rem;
         font-family: "Gochi Hand", cursive;
        font-weight:400;
        font-size:1.1rem;
        font-style: normal;    
    }
    #yo{
     width:200px;
     height:200px;
    }
    .Yu-Gi{
        position:relative;
        justify-items: center;
        align-items: center;
        box-shadow: 0 4px 8px 0 rgba(136, 129, 129, 0.2);
        transition: 0.3s;
         text-align:center;
        padding:7px;   
        background-color: white;
        border-radius:5px;
        width:300px;
        height:300px;
        left:-8rem;  
        bottom:-40px;
        grid-area: 2 / 2 / 3 / 3; 
       }
    
    #pin{
        padding-right:7px;
    }
    
    #note2{
        position:absolute;
        bottom:-2rem;
        left:10rem;
        width:220px;
        height:220px;
    }
    #text2{
        position: absolute;
         left:11rem;
        bottom:2rem;
        font-family: "Gochi Hand", cursive;
            font-weight:400;
            font-size:1rem;
            font-style: normal;   
    }
    #rab{
        width:200px;
        height: 200px;
    }
    .rabbit{
        position:relative;
        justify-items: center;
        align-items: center;
        box-shadow: 0 4px 8px 0 rgba(136, 129, 129, 0.2);
        transition: 0.3s;
        text-align:center;
        padding:5px;
        border-radius:5px ;
        background-color:white;
        width:300px;
        height:300px;
         left:25rem;
       bottom:-3rem;
       grid-area: 3 / 3 / 4 / 4;
    }
    
    #pin{
        padding-right:7px;
    }
    
    #note3{
        width: 220px;;
        height:220px;
        top:10rem;
        left:12rem;
    }
    #text3{
    position:absolute;
    bottom:3rem;
    left:15rem;
    font-family: "Gochi Hand", cursive;
    font-weight: 400;
     font-size: 1.1rem;
    font-style: normal;
    }
    .shop{
     position:relative;
     justify-items: center;
     align-items: center;
     box-shadow: 0 4px 8px 0 rgba(136, 129, 129, 0.2);
     transition: 0.3s;
     text-align:center;
     padding:5px;
     border-radius:5px ;
     background-color:white;
      width:300px;
      height:300px;
        top:-37rem;  
        left:50rem;
        grid-area: 2 / 4 / 3 / 5;
    }
    #shop{
     width:200px;
     height:200px;
    }
     #note4{
         position:absolute;
         top:11rem;
         left:10rem;
         width:220px;
         height:220px;
    }
    #text4{
    position:absolute;
    bottom:1rem;
    left: 12rem;
    font-family: "Gochi Hand", cursive;
    font-weight:400;
    font-size:1.2rem;
    font-style: normal;
    }
    
     #line1{
        position:absolute;
        height:42rem;
        left:27rem;
       top:-26rem;
       transform: rotate(81deg);
        opacity:0.5;
        display: block;   
    }
    #line2{
        position: absolute;
        height:40rem;
        left:32rem;
        bottom:-12rem;
        transform:rotate(-717deg);
        opacity:0.5;
        display: block;   
    }
    #line3{
        position: absolute;
        height:41rem;
        left:3rem;
        bottom:-16rem;
        transform:rotate(81deg);
        opacity:0.5;
        display: block;   }
    #line4{
        position: absolute;
        height:40rem;
        left:-2rem;
        top:-29rem;
        transform:rotate(-179deg);
        opacity:0.5;
        display: block;   
    } 
    }